// colors
$color_dark:          #474955;
$color_light:         #ffffff;
$color_green:         #7EBC3C;

// body
$font_family:         'Roboto', Arial, sans-serif;
$font_weight:         500;
$font_size:           13px;
$line_height:         1.37;
$font_color:          $color_dark;
$body_bg_color:       $color_light;
